<form action="/add" method="post">
<p>Titulo:</p>
<input type="text" name="titulo">
<p>Conteúdo: </p>
<textarea name="conteúdo" ></textarea><br>
<button type="submit">Cadastrar postagem</button>
</form>


